* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

.max-width-wrapper {
  max-width: 800px;
  padding: 0 24px;
  margin: 0 auto;
}

.intro-chunk {
  margin-top: 96px;
  max-width: 415px;
}

.title {
  margin-bottom: 48px;
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
  line-height: 1.85rem;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsl(0, 0%, 40%);
  border-top: 8px solid hsl(0deg, 0%, 60%);
  padding: 64px 0;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 24px;
  padding-top: 0;
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
  margin: 0px -24px;
}

.indented-heading {
  font-size: 1.5rem;
  display: inline-block;
  width: fit-content;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding: 16px 32px;
  margin-top: 8px;
  margin-left: -32px;
}
